<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1oWdT70fNjvysoERj_VX3HxlZQ29TQTU</string>
	<key>GCM_SENDER_ID</key>
	<string>527688853329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GuideCook.LemmeCook</string>
	<key>PROJECT_ID</key>
	<string>lemmecookapp</string>
	<key>STORAGE_BUCKET</key>
	<string>lemmecookapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527688853329:ios:b6cb990a99840a39399570</string>
	<key>DATABASE_URL</key>
	<string>https://lemmecookapp-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>